html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #bbbbbb;
    font-family: Roboto;
}

.container {
    width: 600px;
    margin: auto;
    background-color: #a8e6ce;
    border: 10px solid white;
    padding: 50px;
}

#header {
    text-align: center;
}

#header p {
    color: #ff4081;
    text-decoration: underline;
    font-size: 1.3em;
}

.serious {
    font-weight: bold;
    color: red;
    text-transform: uppercase;
}

section {
    padding-bottom: 10px;
}

h1 {
    text-transform: uppercase;
}

h2 {
    padding-bottom: 15px;
    text-align: center;
}

img {
    border: 1px black solid;
    width: 100%;
}
